* {
    max-width: 1400px;
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    color: #000000;
  }

a {
    text-decoration: none;
}

.activité {
    margin-left: 9px;
}

.activité:hover {
    text-decoration: none;
    color: #0065FC;
}

#champs {
    width: 147px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-left: 17px;
    border: none;
}

#champs:focus {
    outline: none;
}

.formulaire {
    display: flex;
    width: 332px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 55px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.header {
    margin-bottom: 63px;
    display: flex;
    justify-content: space-between;
}

.hébergements {
    margin-right: 9px;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
}

.logo {
    margin-top: 44px;
    margin-left: 55px;
}

.logo img {
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
}

.nav {
    padding-top: 48px;
    margin-right: 77px;
}

.nav a {
    padding: 46px 24.5px;
}

.nav a:hover {
    text-decoration: none;
    color: #0065FC;
    border-top-color: #0065FC;
    border-top-width: 2px;
    border-top-style: solid;
}

#rechercher {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    position: absolute;
    width: 132px;
    height: 49px;
    left: 341px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    cursor: pointer;
}

section {
    margin-left: 55px;
}

section h1 {
    margin-bottom: 8px;
}